<div class="row my-2 bg-space p-1 pt-3 pl-4">
  <app-page-title super=" إدارة أولــــوية المعــــــاملات"></app-page-title>
</div>

<div class="">
  <div class="row bg-space pt-3 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="1s">
    <div class="col-md-4">
      <div class="input-group bs-default mb-3">
        <!-- <i class="btn-hov fas fa-plus mr-3 mt-1 pointer text-title h4 d-inline" (click)="addWindow()"></i> -->
        <i class="btn-hov fas fa-plus mr-3 mt-1 pointer text-title h4 d-inline" data-toggle="modal"
          data-target="#exampleModal"  name="create"></i>
        <input type="text" class="form-control" placeholder="بحث..." name="search" (keyup)="search($event)">
        <div class="input-group-append ">
          <span class="input-group-text  "><i class="text-primary fas fa-search"></i>
            <i *ngIf="queryString" (click)="removeSearch()" class="text-danger fa fa-times clickable">
            </i></span>
        </div>
      </div>
    </div>
    <div class="col-md-7"></div>

    <div class="col-md-1 ml-0 pl-0 mb-2">
      <div class="row">
        <div class="col-6">
          <div class="dropdown">
            <button class="btn bg-title dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{filterParams.pageSize}}
            </button>
            <div class="dropdown-menu  text-dark bg-title" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item theme-dropdown" (click)="setPageSize(10)"><b>10</b></a>
              <a class="dropdown-item theme-dropdown" (click)="setPageSize(20)"><b>20</b></a>
              <a class="dropdown-item theme-dropdown" (click)="setPageSize(30)"><b>30</b></a>
              <a class="dropdown-item theme-dropdown" (click)="setPageSize(40)"><b>40</b></a>
              <a class="dropdown-item theme-dropdown " (click)="setPageSize(50)"><b>50</b></a>
              <a class="dropdown-item theme-dropdown " (click)="setPageSize(60)"><b>60</b></a>
              <a class="dropdown-item theme-dropdown " (click)="setPageSize(70)"><b>70</b></a>
            </div>

          </div>
        </div>

      </div>

    </div>


  </div>

  <div class="row">
    <table class="table table-striped">
      <thead class="">
        <tr class="bg-space">
          <th *ngFor="let title of configs"> {{title.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prop of docPriorityList; let i=index" class="wow slideInLeft" >
          <td style="text-align: right;">{{prop.ID}}</td>
          <td  style="text-align: right;">{{prop.Color}}</td>
          <td  style="text-align: right;">{{prop.NoDays}}</td>
          <td  style="text-align: right;">{{prop.Name}}</td>


          <td  style="text-align: right;">{{prop.choises}}
            <button class="" title="تعديل " (click)=" fill(prop)" data-toggle="modal" data-target="#basicExampleModal"
              name="update"><i class="fas fa-file btn-hov text-gray "></i></button>
            <button class="" title="حذف " name="delete" (click)="delete(prop.ID, prop.Name , prop.NoDays )"><i
                class="far fa-trash-alt btn-hov"></i></button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="row text-center">
    <div class="col-md-4 col-sm-9 ml-3">
      <app-pagination *ngIf="totalNumberOfPages && !(totalNumberOfPages==1)" [page]="filterParams.pageNumber"
        [size]="totalNumberOfPages" (onChange)="changePageNumber($event)">
      </app-pagination>
    </div>
    <div class="col-md-4 col-sm-3 form-group ml-auto">
  
      <app-table-info
      *ngIf="docPriorityList?.length>0 && !busyLoading"
      [page]="filterParams.pageNumber"
      [pageSize]="filterParams.pageSize"
      [total]="totalNumberOfItems"
      [length]="docPriorityList.length"
    >
    </app-table-info>



    </div>
  </div>
</div>


<!--Modal edit-->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-user-edit"></i> تعديل
        </h5>
      </div>
      <div class="modal-body">
        <div>
          <form name="form" #form="ngForm">
            <div class="row">



              <div class="col-md-8 col-sm-10 mx-auto">
                <div class="form-group">
                  <label> المسلسل</label>
                  <input #ID="ngModel" class="form-control" name="ID" autocomplete="off" type="number"
                    [(ngModel)]="docPriority.ID">
                </div>
              </div>

          
              <div class="col-md-8 col-sm-12 mx-auto">
                <div class="form-group">
                  <label> اللون </label>
                  <input #Color="ngModel" class="form-control" name="Color" autocomplete="off" type="color"
                    max="1000" min="0" maxlength="4"
                 
                    [(ngModel)]="docPriority.Color">
                </div>
              </div>

              <div class="col-md-8 col-sm-12 mx-auto">
                <div class="form-group">
                  <label> الايام </label>
                  <input #NoDays="ngModel" class="form-control" name="NoDays" autocomplete="off" type="number"
                    max="1000" min="0" maxlength="4"
                    [(ngModel)]="docPriority.NoDays">
                </div>
              </div>

              <div class="form-group col-md-8 col-sm-10 mx-auto">
                <label> الاسم
                </label>
                <input #Name="ngModel" class="form-control disabled-input" type="text" maxlength="25" name="name"
                  required
                  [ngClass]="{'is-invalid': formSubmitted && Name.invalid || (Name.invalid && (Name.dirty || Name.touched))}"
                  [(ngModel)]="docPriority.Name">
                <div class="text-danger" *ngIf="Name.invalid && formSubmitted">
                  <p>هذا الحقل مطلوب</p>
                </div>
              </div>

            </div>
          </form>
          <div class="row ">
            <div class="col-md-3 col-sm-12 mx-auto">
              <button class="btn bg-add text-title btn-block display-4" (click)="saveedit()"
                type="button">
                <b>حفظ <i class="far fa-save"></i></b>
              </button>
            </div>
            <div class="col-md-3 col-sm-12 mx-auto">
              <button type="button" class="btn bg-space text-title btn-block-black display-4" data-dismiss="modal">
                <b>اغلاق
                  <i class="far fa-window-close"></i></b> </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal  add-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fas fa-user-plus"></i> اضافة
        </h5>

      </div>
      <div class="modal-body">

        <form name="form" #form="ngForm">

          <div class="row ">

            <div class="col-md-8 col-sm-12 mx-auto">
                <div class="form-group">
                  <label> اللون </label>
                  <input #Color="ngModel" class="form-control" name="Color" autocomplete="off" type="color"
                    max="1000" min="0" maxlength="4"
                    [(ngModel)]="docPriority.Color">
                </div>
              </div>

            <div class="col-md-8 col-sm-12 mx-auto">
              <div class="form-group">
                <label> الايام </label>
                <input #NoDays="ngModel" class="form-control" name="NoDays" autocomplete="off" type="number" max="1000"
                  min="0" maxlength="4"
                  [(ngModel)]="docPriority.NoDays">
              </div>
            </div>

            <div class="form-group col-md-8 col-sm-10 mx-auto ">
              <label> الاسم
              </label>
              <input #Name="ngModel" class="form-control disabled-input" type="text" name="name" maxlength="25" required
                [ngClass]="{'is-invalid': formSubmitted && Name.invalid || (Name.invalid && (Name.dirty || Name.touched))}"
                [(ngModel)]="docPriority.Name">
              <div class="text-danger" *ngIf="Name.invalid && formSubmitted">
                <p>هذا الحقل مطلوب</p>
              </div>
            </div>

          </div>
        </form>
        <div class="row ">
          <div class="col-md-3 col-sm-12 mx-auto">
            <button class="btn bg-add text-title btn-block display-4" (click)="saveadd()" type="button">
              <b>حفظ <i class="far fa-save"></i></b>
            </button>
          </div>
          <div class="col-md-3 col-sm-12 mx-auto">
            <button type="button" class="btn bg-space text-title btn-block display-4" data-dismiss="modal"> <b>اغلاق
                <i class="far fa-window-close"></i></b> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>