@import './../../assets/variables.scss';

.parent-container{
    background: url('./../../assets/images/login-background.jpg') no-repeat  ;
    background-position: center;
    background-size: cover;
    height: 99vh;
    
   
.form-box{
   background-color: #000000b3;
   border-radius: 16px;
    box-shadow: 7px 5px 14px black;
}
 .ocean{
   text-shadow:0px 9px 8px black;
   
 }
             

                     
                            
                            input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                font-weight: 200;
                                &:-webkit-input-placeholder:focus::before{
                                  content: none;
                                }
                                &::-moz-placeholder { /* Firefox 19+ */
                                  font-weight: 200;
                                  &:-moz-placeholder:focus{
                                    content: none;
                                  }
                                }
                                &:-ms-input-placeholder { /* IE 10+ */
                                  font-weight: 200;
                                  &:-ms-input-placeholder:focus::before{
                                    content: none;
                                  }
                                }
                                &:-moz-placeholder { /* Firefox 18- */
                                  font-weight: 200;
                                  &:-moz-placeholder:focus::before{
                                    content: none;
                                  }
                                }
                              }
                             
                        }
                        .btn {
                            width: 150px;
                            border-radius: 10rem;
                            transition: all .2s;
                            position: relative;
                            border: none;
                            cursor: pointer;
                            &:hover {
                              transform: translateY(-3px);
                              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
                            }
                            &:hover::after {
                              transform: scaleX(1.4) scaleY(1.6);
                              opacity: 0;
                             }
                             &:active , &:focus {
                              outline: none;
                              transform: translateY(-1px);
                              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
                            }
                            &::after {
                              content: "";
                              display: inline-block;
                              height: 100%;
                              width: 100%;
                              border-radius: 10rem;
                              position: absolute;
                              top: 0;
                              left: 0;
                              z-index: -1;
                              transition: all .4s;
                             }

                          }
                          
                          .btn--white {
                            background-color: #3f0000;
                            color: #ffffff; }
                            .btn--white::after {
                              background-color: #3f0000; }
                          
                          .btn--animated {
                            animation: moveInBottom .5s ease-out .75s;
                            animation-fill-mode: backwards; }
                    
                

            
        
    


