.master-form-nav button {
    width: 40px;
    text-align: center;
    background: transparent;
    border: 2px solid transparent;
    outline: none!important;
    box-shadow: none;
    cursor: pointer;
    color: #305f72;
    font-size: 24px;
    opacity: 0.46;
}
.fa-angle-double-right:hover{
color: 23a6d5;
}
.fa-plus-square-o:hover{
    color: 23a6d5;

}
.fa:hover{
    color: #ee7752;
}
