@import'../../../../assets/variables.scss';
  .fa-folder-open:before{
    color: #ff8b6a;

  }

  .fa-folder-open-o:before{
    color: #ff8b6a;

  }
  .arrow{
    font-size: 30px;
    vertical-align: middle !important;
  }
  p{
    cursor: pointer;
  }